.table, tr,th,td {
    border-collapse: collapse;
    /* padding: 4px; */
    text-align: center;
}
*{
    box-sizing: border-box;
}
.table{
    table-layout: auto;    
}
th,td{
    border: 2px solid yellow;
}
.error{
    border: 1px solid red;
    background-color:1px solid red;
}
td input{
    background-color: #373b3e;
    color: white;
}
.age input{
    width: 80px;
    height: 27px;
}
.name input{
    width: 110px;
    height: 27px;
}
td .gender{
    border: 4px solid pink;
}
td select{
    background-color: #373b3e;
    color: #ffffff;
    height: 27px;
    width: auto;
}
#reset{
    margin-right: 5px;
    margin-left: 5px;
}
.btn-primary{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-info{
    margin-left: 5px;
    margin-right: 5px;
}
 /* #name{
    float: right;
} */
/* #age{
    float: right;
} */
/* #city-names{
    float: right;
    display: inline;
    border: 1px solid green;
} */
/* label, #city-names {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid green;
} */
#radio{
    float: right;
    padding-left: 0px;
    width: 180px;
}
#city-names{
    height: 24px;
}
.btn-success{
    margin-right: 15px;
}